*.DS_Store
.bundle
.autotest
.sass-cache/*

clean.sh
backup.sh
gitchanges.sh
dump.rdb

log/development.log
log/development-history.log
tmp/*

db/*.sqlite3
db/*.rdb
db/.DS_Store
db/schema.rb

sb-sublime/*
.idea/*
nbproject/*


config/environments/development.rb
config/environments/staging.rb
config/environments/test.rb
config/environments/production.rb

config/database.yml

public/robots.txt
public/assets/*
public/system/*
public/uploads
public/profiles/*

